@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');


body{
    font-family: 'Montserrat', sans-serif;

}

.latbg {
    background: #307DD9 url("../images/bg.jpg");
    background-position: 12% 83%;
    color: white;
    text-align: center;
    padding: 4em;
}

.header{
    padding: 1em 0;

}

.latbg a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;

}
section{
    margin:0 1em;

}
h1{
    font-size: 2.5rem;
    margin: 2em 0 1.2em;
}
h1 span{
    text-transform: uppercase;
    display: block;
    font-size: 1.4rem;
    position: relative;
    z-index: 1;
}
h1 span::before{  
    content: ' ';
    position: absolute;
    width: 3em;
    background: #00BFFF;
    height: .4em;
    bottom: 0;
    z-index: -1;
    margin-left: -.3em;
}
.latbg p{
    font-weight:  bold;
    margin: 0em 1em 3em;
     

}
.form-container{
    background-color: white;
    margin: 2em -1em 0;
    padding: 2em;
}

label{
    color: #2D7D98;
    font-weight: bold;
    margin-bottom: 1em;
    font-size: 1.2em;

}
input{

    border: 1px solid #707070;
    width: 100%;
    padding: 1em;
    border-radius: .5em;
    box-sizing: border-box;
    margin-top: 1.2em;
}
   


.form-container p{
    color: grey;
    margin-bottom: 1.5em;
    font-weight: normal;
    font-size: .9em;
    margin-top: .3em;
}

input[type=button]{
    background-color: #F89104;
    border: none;
    width: 100%;
    color: white;
    font-weight: bold;
    padding: 1em 0;
    border-radius: .5em;
    font-size: 1.3em;
    cursor: pointer;
}

input[type=button]:hover{
        background-color: #d8820a;
 
}
.authentic{
    margin: 0;
}
.right-column{
    text-align: center;
    margin: 3em 1em;
}

h2{ 
    text-transform: uppercase;
    position: relative; 
} 
h2::before{  
    content: ' ';
    position: absolute;
    width: 8em;
    background: #00BFFF;
    height: .4em;
    bottom: 0;
    z-index: -1;
    margin-left: -.3em;
}
img{
    width: 100%;
}   

p{
    line-height: 2em;
} 

.overlay{
    position: absolute;
    height: 100vh;
    width: 100%;
    background: rgba(0,0,0,.9);
    z-index: 1;
    place-content: center;
    color: white;
    display: none;
    opacity:1;
    
}
.animate-overlay{
    animation: 3s forwards;
}



@media(min-width: 930px) {
    .latbg{
        text-align: left;
    }
    .latbg p{
        margin: 0 0 3em;
    }
    .latbg section{
        width: 65%;  
    }
    .form-container{
        margin:2em 0 0;
        padding : 2em;
        border-radius: .5em;
        box-shadow: 10px 10px 10px rgb(0,0,0,.3);
    }
    form{
    display: flex;
    }
    .form-left{
        width: 70%;
    }
    label{
        margin: 0;
    }
    input[type="button"] {
        height:2.9em;
        font-size: 1.1em;
        margin-left: 1em;
        margin-top: 2.2em;
        padding: .7em 0;
        width: 30%;
    }
    .latbg p{
        margin-bottom:0;
    }

    section.authentic{
        display: grid;
        grid-template-columns: repeat (2,50%);
        grid-template-areas: 
            "bowl content"
    }
    .right-col{
        grid-area: content;
        padding: 0 10%;
        text-align: left;
        align-self: center;

    }
    img{
        grid-area: bowl;

    }
    .top{
        animation: fadeIn 3s forwards;
    
}

@keyframes fadeIn{
        from{

            opacity: 0;
            transform:translateY(-2em) ;
        }
        to{
            opacity: 1;
            transform:translateY(0) ;
        }
}
@keyframes overlay{
        0% {
            opacity: 0;
        }
        30% {
            opacity: 1;
        }
        70% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
}
}
